/*header*/

@media only screen and (min-width: 768px) {
    .header {
        padding: 60rem 0;
    
        &:after {
            display: table;
            clear: both;
            content: "";
        }
    }
}