/*button*/

.button {
    width: 100%;
    padding: 21rem 0;
    margin: 60rem 0 30rem;
    background: linear-gradient(to top, #623c64, #845987); 
    box-shadow: 0rem 16rem 50rem #333;
    border-radius: 10px;
    cursor: pointer;
}