/*fonts*/

@font-face {
    font-family: 'ALSFuchsia';
    src: url('fonts/alsfuchsia.eot');
    src: url('fonts/alsfuchsia.eot') format('embedded-opentype'),
    url('fonts/alsfuchsia.woff2') format('woff2'),
    url('fonts/alsfuchsia.woff') format('woff'),
    url('fonts/alsfuchsia.ttf') format('truetype'),
    url('fonts/alsfuchsia.svg#alsfuchsia') format('svg');
}

//@font-face {
//    font-family: 'ALSSchlangesans';
//    src: url('fonts/ALSSchlangesans.eot');
//    src: url('fonts/ALSSchlangesans.eot') format('embedded-opentype'),
//    url('fonts/ALSSchlangesans.woff2') format('woff2'),
//    url('fonts/ALSSchlangesans.woff') format('woff'),
//    url('fonts/ALSSchlangesans.ttf') format('truetype'),
//    url('fonts/ALSSchlangesans.svg#ALSSchlangesans') format('svg');
//}
//
//@font-face {
//    font-family: 'ALSSchlangesansBold';
//    src: url('fonts/ALSSchlangesansBold.eot');
//    src: url('fonts/ALSSchlangesansBold.eot') format('embedded-opentype'),
//    url('fonts/ALSSchlangesansBold.woff2') format('woff2'),
//    url('fonts/ALSSchlangesansBold.woff') format('woff'),
//    url('fonts/ALSSchlangesansBold.ttf') format('truetype'),
//    url('fonts/ALSSchlangesansBold.svg#ALSSchlangesansBold') format('svg');
//}